{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/locataires/locataire/{{ locataire.id_locataire }}/modif" method="POST">
                <div class="form-group">
                    <input type="text" name="nom" value="{{locataire.nom}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="prenom" value="{{locataire.prenom}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="adresse" value="{{locataire.adresse}}" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="int" name="CP" value="{{locataire.code_postal}}" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="ville" value="{{locataire.ville}}" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text"  name="telephone" value="{{locataire.telephone}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" value="{{locataire.email}}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                    Modifier
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}